# -------------------------------------------------------------------
# Python Dependencies for the Taxonomic Quasi-Primes Project
#
# Install these dependencies using the following command:
# pip install -r requirements.txt
# -------------------------------------------------------------------

ast
aiohttp
blosum
ete3
goatools
graphviz
matplotlib
nest-asyncio
numpy
pandas
polars
pycirclize
pyyaml
requests
scikit-learn
scipy
seaborn
tqdm
umap-learn
graphviz
statsmodels